@import 'partials/normalize';

/***************************************
 * Variables
 ***************************************/

$color-charcoal:        #293744;
$color-blue:            #38C3FF;
$color-orange:          #FF9742;
$color-aqua:            #60F2ED;
$color-dark-orange:     darken($color: $color-orange, $amount: 25%);


/***************************************
 * Custom styling
 ***************************************/

html {
    font-size: 62.5%;  /* 1rem ~= 10px */
}

html * {
    box-sizing: border-box;
}

body {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.4;
    background-color: $color-charcoal;
    color: $color-aqua;

    em {
        color: $color-aqua;
        /*font-weight: bold;*/
        font-style: normal;
        font-family: 'Germania One', cursive;
        text-transform: uppercase;
    }
    
    a {
        color: $color-orange;
        text-decoration: none;
    
        &:hover,
        &:focus {
            color: $color-dark-orange;
            text-decoration: underline 2px dotted $color-dark-orange;
            text-underline-offset: 0.2em;
            outline: none;
        }
    }

    .site-wrapper {
        max-width: 500px;
        margin: 0 auto;

        .site-header {
            .site-title {
                margin: 1em 0 0.5em;
                font-size: 4em;
                font-weight: 300;

                .second-line {
                    display: block;
                    font-size: 1.5em;
                    font-weight: normal;
                    font-family: 'Germania One', cursive;
                    letter-spacing: 0.02em;
                    line-height: 1;
                    color: $color-orange;
                }
            }
        }

        .main-content {
            padding: 0 1em;
            color: $color-blue;
        }

        .site-footer {
            padding: 1em;
        }
    }

    .form  {
        .form__field-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0.4em 0;

            .form__label--fixed-width {
                flex-basis: 7em;
            }
        }

        .form__button {
            padding: 0.25em 0.5em;
            border: 1px solid white;
            border-radius: 0.2em;
            color: white;
            background-color: $color-charcoal;

            &.form__button--primary {
                color: $color-charcoal;
                background-color: $color-orange;
                border: none;
            }
        }
    }
}

.message {
    margin: 1em 0;
    padding: 0.8em 1.6em;
    border-radius: 0.3em;
    
    &.message--info {
        color: hsl(207, 100%, 30%);
        background-color: hsl(207, 100%, 80%);;
    }
    &.message--success {
        color: hsl(103, 100%, 20%);
        background-color: hsl(103, 50%, 80%);
    }
    &.message--warning {
        color: hsl(40, 100%, 34%);
        background-color: hsl(40, 100%, 80%);
    }
    &.message--error {
        color: hsl(9, 100%, 35%);
        background-color: hsl(9, 50%, 85%);
    }
}

@media only screen and (min-width: 500px) {
    body {
        .site-wrapper {
            .site-header {
                .site-title {
                    font-size: 5em;
                }
            }
            .main-content {}
            .site-footer {}
        }
    }
}